<head>
    
    <script>function login()
    {
      var form=document.getElementById('login')
      console.log(form.action)
      if(form.action=="http://localhost:3000/user")
      {
       /* var pd=document.getElementById('password')
        var ac=document.getElementById('account')
        console.log(pd.placeholder)
        console.log(ac.placeholder)
        pd.placeholder='请选择登录用户'
        ac.placeholder='请选择登录用户'
        pd.placeholder.color='red'
        ac.placeholder.color='red'*/
        alert('请选择登录用户')
      }
      var k=document.getElementById('account').value
      var H=document.getElementById('password').value
      if(k==''||H=='')
      {
        alert('账号密码不可以为空')
      }
      if(form.action!="http://localhost:3000/user"&&(k!=''&&H!=''))
      {
      var password=document.getElementById('password').value
      
      var pwd=document.getElementById("md5-password")
      
     pwd.value=($.md5(password));
      
     
      
      
      
       form.submit()
      }
    }</script>

    <script>
      var a=0;
var b=0;

function student()
{
  
  
  var c=document.getElementById('student')
  var d=document.getElementById('teacher')
  var e=document.getElementById("login")
  if(a==0&&b==0)
    {
      c.style.background='#2c89c6';
      a=1
      e.action="student"
      
    }
  if(a==0&&b!=0)
    {
      c.style.background='#2c89c6';
      d.style.background='';
      a=1
      b=0
      e.action="student"
      
    }
}
function teacher()
{
  var c=document.getElementById('student')
  var d=document.getElementById('teacher')
  var e=document.getElementById("login")
  if(a==0&&b==0)
    {
      d.style.background='#2c89c6';
      b=1
      e.action="teacher"
    }
  if(b==0&&a!=0)
    {
      d.style.background='#2c89c6';
      c.style.background='';
      a=0
      b=1
      e.action="teacher"
      
    }
  
}




    </script>
    <style>
      
      div
    {
      text-align:center
    }
    input
    {
      text-align:center;
        width:230px;
          height:45px
    }
    form {
        margin-block-end: 0em;
    }
    a
    {
     
      
      color: #6e6e6e;
    }
      #log
    {
     width:230px;
     height:36px;     
      display:block;
      margin:0 auto;
      color: #6e6e6e;
      text-align:center;
    background:#d3a4ff;
        
    }
    #student
    {
      display:inline-block;
      width:115px;
      height:34px;
      text-align:center;
     
    }
    #teacher
    {
      display:inline-block;
      width:115px;
      height:34px;
      text-align:center;
    
    }
    #log:hover
    {
      background: #2c89c6;
    }
    body{
      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
      background-size:100% 100%;
  }
    #head
    {
      text-align:center;
    }
    
    input,#log,#student,#teacher{
      box-sizing: border-box;
      text-align:center;
      
      
      border-radius:4px;
      border:1px solid #c8cccf;
      color:#6a6f77;
      -web-kit-appearance:none;
      -moz-appearance: none;
      
      outline:0;
      
      text-decoration:none;
     
    }
    #student:hover,#teacher:hover
    {
      background: #FF88C2;
    }
    
    #all
    {
    padding:200px 0px 0px 0px;
    
    }
    </style>
    </head>
    <body background="/photo/background.jpg" >
    <h1 id='head'>学生数据管理系统</h1>
    <div id='all'>
    <div><a id='student' onclick='student()'>学生登录</a><a id='teacher' onclick='teacher()'>老师登录</a></div>
    <form id="login" action="user">
    <div id='account'> 
         
    <input type="text" placeholder="请在这里输入学号" name="account" id="account" >
      
    </div>
    <div id='passwd'>
      
      <input type="password" placeholder="默认为学号加出生年"  id="password">
      <input type="hidden" id="md5-password" name="password">
         
    </div>
      
    </form>
    
    <a id="log" onclick="login()">登陆</a>
    <div>
      </body>
    